{% extends 'base.html' %}

{% block conteudo %}

<div class="card text-center mb-3">
    <div class="card-header">
        <h3>Deseja realmente remover a tarefa abaixo?<h3>
    </div>
    <div class="card-body">
        <h5 class="card-title">{{ tarefa.titulo }}</h5>
        <p class="card-text">{{ tarefa.descricao }}</p>
        <hr>

        <form method="post">
            {% csrf_token %}
            <button class="btn btn-danger" type="submit">Remover</button>
        </form>
        <br>
        <a href="{% url 'listar_tarefas' %}">Voltar</a>

    </div>
</div>

{% endblock conteudo %}