{% extends 'base.html' %}

{% block conteudo %}

<h1>Listagem de tarefas</h1>
{% if tarefas|length > 0 %}
    {% for tarefa in tarefas %}
    <div class="card text-center mb-3">
        <div class="card-header">{{ tarefa.get_prioridade_display }}</div>
        <div class="card-body">
            <h5 class="card-title">{{ tarefa.titulo }}</h5>
            <p class="card-text">{{ tarefa.descricao }}</p>
            <a href="{% url 'editar_tarefa' tarefa.id %}">Editar Tarefa</a>
            <br>
            <a style="color: red" href="{% url 'remover_tarefa' tarefa.id %}">Apagar Tarefa</a>
        </div>
    </div>
    {% endfor %}
{% else %}
<h4>Você não possui tarefas cadastradas.</h4>
{% endif %}

<a href="{% url 'cadastrar_tarefa' %}">
    <input type="button" class="btn btn-primary mb-3" value="Cadastrar Tarefa">
</a>

{% endblock conteudo %}